* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif 
}
.weather-info-wrapper {
  width: 100%;
  height: auto;
  min-height: 800px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.weather-info-wrapper::before {
  content: "";
  position: absolute;
  background: rgba(3, 5, 8, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.weather-info-content {
  max-width: 1200px;
  padding: 25px 15px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1366px) {
  .weather-info-wrapper {
    min-height: 500px;
  }
  .weather-info-content {
    padding: 50px 15px;
  }
}
@media screen and (max-width: 768px) {
  .weather-info-wrapper {
    min-height: auto;
  }
  .weather-info-content {
    padding: 50px 15px;
  }
}