.footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #bdc3c7;
}
.footer-author {
  color: #ef5447;
  font-size: 16px;
}
.footer-author a {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
}
.footer-socials {
  margin: 10px 0 0 0;
}
.footer-socials a {
  color: #e74c3c;
  font-size: 20px;
  margin: 0 1px;
  padding: 0 2px;
  outline-color: #e74c3c;
}
